__pycache__
tools/cache_check/*.png
tools/cache_check/*.dot
.pytest_cache/
*.ini
**/.DS_Store
data
.mypy_cache/
src/grafix.egg-info/
src/grafix.egg-info/
.venv_test
dist/grafix-0.0.0-py3-none-any.whl
dist/grafix-0.0.0.tar.gz
